<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/flexProb2.css">
    <title>Flex Demo-1</title>
</head>
<body>
    <header class="headerContainer">
        <h1>Header - Sample Flexbox Layout - 2 </h1>
    </header>
    <div class="mainContainer">
        <section class="mainContentItem">
            <article>
                <h2>Article</h2>
                <p>On November 13, 2006, Sun released much of its Java virtual machine (JVM) 
                    as free and open-source software (FOSS), under the terms of the GPL-2.0-only license. 
                    On May 8, 2007, Sun finished the process, making all of its JVM's core code available
                     under free software/open-source distribution terms, 
                    aside from a small portion of code to which Sun did not hold the copyright.
                </p>
                <p>
                    Some platforms offer direct hardware support for Java; 
                    there are micro controllers that can run Java bytecode in hardware instead of a 
                    software Java virtual machine, and some ARM-based processors could have 
                    hardware support for executing Java bytecode through their Jazelle option, 
                    though support has mostly been dropped in current implementations of ARM.
                </p> 
                <p>On November 13, 2006, Sun released much of its Java virtual machine (JVM) 
                    as free and open-source software (FOSS), under the terms of the GPL-2.0-only license. 
                    On May 8, 2007, Sun finished the process, making all of its JVM's core code available
                     under free software/open-source distribution terms, 
                    aside from a small portion of code to which Sun did not hold the copyright.
                </p>
                <p>On November 13, 2006, Sun released much of its Java virtual machine (JVM) 
                    as free and open-source software (FOSS), under the terms of the GPL-2.0-only license. 
                    On May 8, 2007, Sun finished the process, making all of its JVM's core code available
                     under free software/open-source distribution terms, 
                    aside from a small portion of code to which Sun did not hold the copyright.
                </p>
                
            </article>
        </section>
        <sidebar class="sideBarItem sideBarLeftItem">
            <div class="center">
                <p>
                    Aside Bar
                </p>
            </div>
        </sidebar>
        <sidebar class="sideBarItem sideBarRightItem">
            <div class="center">
                <p>
                    Nav Corner Bar
                </p>
            </div>
        </sidebar>
    </div>
    <footer class="footerContainer">Footer</footer>
</body>
</html>